<section>
  <h2 class="text-xl font-semibold mb-6 text-gray-600">
    ¿Qué hecho es el que quiere denunciar?
  </h2>

  <form [formGroup]="formDatosHecho" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <label class="block text-gray-700 font-medium mb-1">Empresa <span class="text-red-500">*</span></label>
        <select formControlName="EmpresaId" class="w-full border p-2 rounded outline-none">
          <option value="">Seleccionar *</option>
          <option *ngFor="let empresa of empresas" [value]="empresa.id">{{ empresa.mrca }}</option>
        </select>
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-1">Tipo de denuncia <span class="text-red-500">*</span></label>
        <select formControlName="TipoDenunciaId" class="w-full border p-2 rounded outline-none">
          <option value="">Seleccionar *</option>
          <option *ngFor="let tipo of tiposDenuncia" [value]="tipo.id">{{ tipo.descp }}</option>
        </select>
      </div>
    </div>
    <p class="text-gray-700 text-sm">
        {{
          getDetalleTipoDenuncia()
        }}
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
      <div>
        <p class="text-gray-700 font-medium">El sistema propone como receptor a</p>
        <div class="flex items-center mt-2" *ngIf="receptorPrincipal && receptorPrincipal.ncmpto">
          <img [src]="receptorPrincipal.rtafto" alt="Receptor Principal" class="w-16 h-16 rounded-full mb-2 img-avatar">
          <p class="text-lg font-semibold">
            {{ receptorPrincipal.ncmpto }}
          </p>
        </div>
        <div *ngIf="!receptorPrincipal || !receptorPrincipal.ncmpto" class="flex items-center mt-2">
          <p class="text-lg font-semibold">
            No se ha encontrado receptor principal
          </p>
        </div>
      </div>
      <div>
        <p class="text-gray-700 font-medium">Opciones</p>
        <button type="button" (click)="proponerOtroReceptor()"
          class="px-4 py-2 bg-gray-400 text-white rounded cursor-not-allowe w-full md:w-auto">
          Proponer otro receptor
        </button>
      </div>
    </div>

    <!-- // select  -->
    <div *ngIf="getIsNotReceptorPrincipal()" class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
      <div>
        <label class="block text-gray-700 font-medium mb-1">Receptor propuesto</label>
        <select formControlName="ReceptorId" 
        (change)="onReceptorChange($event)"
        class="w-full border p-2 rounded outline-none">
          <option value="">Seleccionar *</option>
          <option *ngFor="let receptor of receptores" [value]="receptor.id">{{ receptor.ncmpto }}</option>
        </select>
      </div>
    </div>

    <p class="text-gray-500 text-sm mt-4">
      Solo serán atendidas las comunicaciones de acuerdo a la <a href="#" class="text-blue-600">Política del Canal</a>.
    </p>
  </form>
</section>