<div *ngIf="show" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md">
        <h2 class="text-xl font-semibold mb-4">Agregar Testigo</h2>

        <form [formGroup]="form" (ngSubmit)="enviar()" class="space-y-4 row">
             <div class="col-span-12">
                <label class="block text-sm font-medium">Nombres <span class="text-red-500">*</span></label>
                <input formControlName="NOMBRE" type="text"  class="w-full border p-2 rounded" />
                <div *ngIf="form.get('NOMBRE')?.invalid && form.get('NOMBRE')?.touched" class="text-red-500 text-sm">
                    Campo requerido
                </div>
            </div>

            <div class="col-span-12">
                <label class="block text-sm font-medium">Apellidos </label>
                <input formControlName="APELLIDO" type="text"  class="w-full border p-2 rounded" />
            </div>

            <div class="col-span-12">
                <label class="block text-sm font-medium">Correo </label>
                <input formControlName="CORREO" type="email" class="w-full border p-2 rounded" />
            </div>

            <div class="col-span-12">
                <label class="block text-sm font-medium">Teléfono </label>
                <input formControlName="TELEFONO" type="text" placeholder="Teléfono" class="w-full border p-2 rounded" />
            </div>

            <div class="col-span-12">
                <label class="block text-sm font-medium">Comentario</label>
                <textarea formControlName="COMENTARIOS" class="w-full border p-2 rounded"></textarea>
            </div>

            <div class="flex justify-end gap-2 mt-4">
                <button type="button" (click)="cerrar()"
                    class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Cancelar</button>
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Guardar</button>
            </div>
        </form>

        <app-loader *ngIf="loading"></app-loader>
    </div>
</div>