<section>
  <h2 class="text-2xl font-semibold mb-6 text-gray-600">
    Datos del Denunciante
  </h2>

  <form [formGroup]="formDatosDenunciante" class="space-y-6">
    <div>
      <label class="block text-gray-700 font-medium mb-1">Relación con la empresa <span class="text-red-500">*</span></label>
      <select formControlName="RelacionEmpresaId" class="w-full border p-2 rounded outline-none">
        <option value="">Seleccionar *</option>
        <option *ngFor="let relacion of relaciones" [value]="relacion.id">{{ relacion.descp }}</option>
      </select>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 hidden">
      <div>
        <label class="block text-gray-700 font-medium mb-1">Nombre</label>
        <input formControlName="NombresDenunciante" type="text" placeholder="Nombre" class="w-full border p-2 rounded outline-none">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-1">Apellidos</label>
        <input formControlName="ApellidosDenunciante" type="text" placeholder="Apellidos" class="w-full border p-2 rounded outline-none">
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-1">Correo <span *ngIf="formDatosDenunciante.get('CorreoDenunciante')?.invalid && formDatosDenunciante.get('CorreoDenunciante')?.dirty" class="text-red-500">*</span></label>
        <input 
          formControlName="CorreoDenunciante" 
          type="email" 
          placeholder="Correo" 
          class="w-full border p-2 rounded outline-none"
          [ngClass]="{ 'border-red-500': formDatosDenunciante.get('CorreoDenunciante')?.invalid && formDatosDenunciante.get('CorreoDenunciante')?.dirty }">
        <p class="text-red-500 text-sm" *ngIf="formDatosDenunciante.get('CorreoDenunciante')?.invalid && formDatosDenunciante.get('CorreoDenunciante')?.dirty">
          El correo no es válido.
        </p>
      </div>
      <div>
        <label class="block text-gray-700 font-medium mb-1">Teléfono <span *ngIf="formDatosDenunciante.get('TelefonoDenunciante')?.invalid && formDatosDenunciante.get('TelefonoDenunciante')?.dirty" class="text-red-500">*</span></label>
        <input 
          formControlName="TelefonoDenunciante" 
          type="number" 
          placeholder="Teléfono" 
          class="w-full border p-2 rounded outline-none"
          [ngClass]="{ 'border-red-500': formDatosDenunciante.get('TelefonoDenunciante')?.invalid && formDatosDenunciante.get('TelefonoDenunciante')?.dirty }">
        <p class="text-red-500 text-sm" *ngIf="formDatosDenunciante.get('TelefonoDenunciante')?.invalid && formDatosDenunciante.get('TelefonoDenunciante')?.dirty">
          El teléfono debe tener 9 dígitos numéricos.
        </p>
      </div>
    </div>

    <p class="text-gray-700 text-sm">
       Los campos marcados con <span class="text-red-500">*</span> son obligatorios.
    </p>

    <!-- <p class="text-gray-700 text-sm">
      <strong>¡Importante!</strong> Se tiene la opción de suministrar los siguientes datos de esta pantalla o no hacerlo.
    </p> -->
    <p class="text-gray-700 text-sm">
      La denuncia será considerada anónima.
    </p>

    <!-- <p class="text-gray-500 text-xs mt-4">
      Sus datos serán utilizados con la finalidad exclusiva de gestionar la comunicación. El responsable del tratamiento de los datos es la propia entidad, quien tratará los datos en cumplimiento de la normativa aplicable. Tiene derecho a acceder, rectificar, cancelar, suprimir, así como otros derechos detallados en la 
      <a href="#" class="text-blue-600">Política de Privacidad</a>.
    </p> -->
  </form>
</section>