#container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.box{
    width: 20px;
    height: 40px;
    background-color: #f07a1a;
    border-radius: 50px;
    animation: loader 1s linear infinite;
}
#loader1{
    animation-delay: .1s;
}
#loader2{
    animation-delay: .2s;
}
#loader3{
    animation-delay: .3s;
}
#loader4{
    animation-delay: .4s;
}
#loader5{
    animation-delay: .5s;
}
@keyframes loader{
    0%,100%{
        height: 90px;
    }
    50%{
        height: 20px;
    }
}